:root {
  --primary: #ffedfa;
  --secondary: #ffb8e0;
  --tri1: #ec7fa9;
  --tri2: #be5985;
}

@font-face {
  font-family: incon;
  src: url(./Inconsolata-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: incon;
  src: url(./Inconsolata-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: incon;
  src: url(./Inconsolata-Bold.ttf);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: incon;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
}
section.allElems {
  height: 100%;
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
}
.elems {
  background-color: var(--primary);
  border-radius: 15px;
  height: 400px;
  width: 280px;
  position: relative;
  transition: all ease 0.15s;
  overflow: hidden;
}
.elems img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.elems h2 {
  color: var(--primary);
  font-weight: 500;
  position: absolute;
  bottom: 4%;
  right: 5%;
}
.elems:active {
  scale: 0.97;
}

section.tabs {
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  padding: 14px 14px;
  transition: all ease 0.3s;
}

.return {
  padding: 12px 13px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  right: 5%;
  top: 5%;
}
.return:active {
  scale: 0.96;
}
